@use '../utils/variables' as v;
@use '../utils/mixins' as m;

button{
    text-shadow: var(--text-shadow-inset);
}

.button-conteiner__toggle{
    @include m.mixin-block-construct(
        100%, 
        4px, 
        v.$rounded-xs, 
        var(--text-primary), 
        v.$transition-long, 
        var(--text-shadow-inset)
    )
}

.button-conteiner{
    width: 30px;
    height: 30px;
}

.appheader-baner__button{
    &:hover{
        .button-conteiner__toggle{
            box-shadow: var(--box-shadow-highlight)
        }
    }
    &.active{
        .button-conteiner__toggle:nth-child(1) {transform: translateY(10px) rotate(45deg)}
        .button-conteiner__toggle:nth-child(2) {opacity: 0}
        .button-conteiner__toggle:nth-child(3) {transform: translateY(-10px) rotate(-45deg)}
    }
} 

@media (max-width: 1090px) {
    .appheader-baner__button{
        display: flex;
    }
}