@use '../utils/mixins' as m;
@use '../utils/variables' as v;
@use '../utils/utility';

.appheader-baner__nav{
    @include m.mixin-full-size()
}

.appheader-baner__ul{
    li, 
    a[href]{
        @extend .flex-center;
        @include m.mixin-full-size()
    }
}

.appheader-dropmenu__li{
    &:hover{
        .appheader-dropmenu__nav{
            display: flex;
        }
    }
}

.appheader-dropmenu__nav{
    top: 70px;
    left: 150px;
}

.appheader-dropmenu__ul{
    @include m.mixin-block-construct(
        auto, 
        auto, 
        v.$rounded-base, 
        var(--bg-highlight)
    ){
        a[href]{
            justify-content: start;
        }
    }
}

@media (max-width: 1090px) {
    .appheader-baner__nav{
        position: fixed;
        visibility: hidden;
        top: 80px;
        z-index: 1000;
        left: -25vw;
        opacity: 0;
        overflow-y: auto;
        transform: translateX(-200px);
        @include m.mixin-block-construct(
            50vw, 
            calc(100vh - 80px), 
            0 v.$rounded-xl v.$rounded-xl 0,
            var(--bg-highlight),
            (opacity 0.5s ease, transform 0.5s ease),
            none
        );
        &.active{
            opacity: 1;
            visibility: visible;
            transform: translateX(0);
        }
    }

    .appheader-dropmenu__li{
        &:hover{
            .appheader-dropmenu__nav{
                display: none;
            }
        }
    }

    .appheader-baner__ul{
        padding: 1em;
        flex-direction: column;
        gap: 2em;
        a[href]{
            justify-content: start;
            width: 100%;
        }
        li{
            height: auto;
        }
        .highlight-li{
            background: none;
            box-shadow: none;
            padding: 0;
            &:hover{
                a[href]:hover{
                    @include m.mixin-text-highlight
                }
                @include m.mixin-block_transform(none, none)
            }
        }
    }
}

@media (max-width: 490px) {
    .appheader-baner__nav{
        width: 80vw;
        a[href]{
            font-size: v.$text-lg;
        }
    }
}