@use '../utils/mixins' as m;

.appheader-menu{
    display: flex;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3),
    3px 4px 6px rgba(0, 0, 0, 0.2),
    5px 6px 8px rgba(0, 0, 0, 0.1),
    7px 8px 10px rgba(0, 0, 0, 0.05);
    border-radius: 35px;
    background: #0000003a;
    backdrop-filter: blur(0.1em);
    width: clamp(750px, 60%, 1500px);
    height: 100%;
    transition: all 0.5s ease;
}

.appheader-menu.scrolled{
    border-radius: 0 0 35px 35px;
    height: 80px;
    width: 70%;
}
.menu-nav{
    display: flex;
    width: 100%;
    height: 100%;
}

.ul-g{
    border-radius: 35px;
    height: 100%;
    @include m.flex-center;
    left: 0;
    padding: 1em;
    box-sizing: border-box;
    background: #ffffff;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3),
    3px 4px 6px rgba(0, 0, 0, 0.2),
    5px 6px 8px rgba(0, 0, 0, 0.1),
    7px 8px 10px rgba(0, 0, 0, 0.05);;
}

.ul-g a[href]{
    color: #424242;
}

.ul-g.scrolled{
    border-radius: 0 35px 35px 35px;
}

.nav-ul{
    width: 100%;
    height: 100%;
    @include m.flex-center;
    margin: 0;
    justify-content: space-between;
    padding: 0 1em 0 0 ;
}   

@media (max-width: 1080px) {
    .menu-nav{
        display: none;
    }
    .appheader-menu{
        border-radius: 0 0 35px 35px;
        height: 80px;
        width: 70%;
    }
}