@use 'base/reset';
@use 'base/fonts';

@use 'utils/variables' as v;
@use 'utils/mixins' as m;
@use 'utils/functions';
@use 'utils/utility';

@use 'components/buttons';
@use 'components/menu';

@use 'layouts/footer';
@use 'layouts/header';
@use 'layouts/main';

body{
    font-family: v.$font-sans;
    font-size: v.$text-lg;
    font-weight: v.$font-normal;
    text-shadow: var(--text-shadow-primary);
    background: var(--bg-primary);
    color: var(--text-primary);
}

button{
    border: none;
    background: none;
    cursor: pointer;
}

a[href]{
    text-decoration: none;
    color: var(--text-primary);
    font-weight: v.$font-bold;
    text-shadow: var(--text-shadow-inset);
    transition: all 0.3s ease;    
}

a:hover,
a:focus{
    color: var(--text-highlight);
    text-shadow: var(--text-shadow-highlight);
    transform:translateY(-1px);
}

ul li, 
ol li{
    list-style-type: none;
}

.logo-img{
    width: 80px;
    height: 80px;
    transition: v.$transition-3;
}

.logo-img:hover{
    transform: var(--transform-primary);
}

main{
    height: 200vh;
}

@media (max-width: 1080px) {
  
}