@use '../utils/variables' as v;

@mixin block-construct($width: auto, $height: auto, $border-radius: 0, $background: var(--bg-darkglasses-deep), $transition: $transition-3, $box-shadow: var(--box-shadow-primary)){
    width: $width;
    height: $height;
    border-radius: $border-radius;
    background: $background;
    transition: $transition;
    box-shadow: $box-shadow;
    box-sizing: border-box;
}