@use '../utils/variables' as v;

@mixin mixin-block-construct(
    $width: auto, 
    $height: auto, 
    $border-radius: 0, 
    $background: var(--bg-darkglasses-deep), 
    $transition: v.$transition-base, 
    $box-shadow: var(--box-shadow-primary)
){
    width: $width;
    height: $height;
    border-radius: $border-radius;
    background: $background;
    transition: $transition;
    box-shadow: $box-shadow;
    @content;
}

@mixin mixin-text-construct(
    $color: var(--text-primary), 
    $text-shadow: var(--text-shadow-primary), 
    $font-size: v.$text-lg, 
    $font-weight: v.$font-light,
    $font-family: v.$font-sans,
    $line-height: 1.5
){
    color: $color;
    text-shadow: $text-shadow;
    font-size: $font-size;
    font-weight: $font-weight;
    line-height: $line-height;
    font-family: $font-family;
    transition: v.$transition-base;  
}

@mixin mixin-text-highlight(
    $color: var(--text-highlight), 
    $text-shadow: var(--text-shadow-highlight)
){
    color: $color;
    text-shadow: $text-shadow;
}

@mixin mixin-full-size {
    width: 100%;
    height: 100%;
}

@mixin mixin-img-constructor(
    $width: auto,
    $height: auto
){
    width: $width;
    height: $height;
    transition: v.$transition-base
}

@mixin mixin-block_transform(
    $transform: var(--transform-primary),
    $box-shadow: var(--box-shadow-highlight)
){
    transform: $transform;
    box-shadow: $box-shadow;
}

