@use '../utils/variables' as v;

@mixin block_construct(
    $width: auto, 
    $height: auto, 
    $border-radius: 0, 
    $background: var(--bg-darkglasses-deep), 
    $transition: v.$transition-3, 
    $box-shadow: var(--box-shadow-primary)
    ){
    width: $width;
    height: $height;
    border-radius: $border-radius;
    background: $background;
    transition: $transition;
    box-shadow: $box-shadow;
}

@mixin text_highlight(
    $color: var(--text-highlight), 
    $text-shadow: var(--text-shadow-highlight), 
    $transform: translateY(-1px)
    ){
    color: $color;
    text-shadow: $text-shadow;
    transform: $transform;
}

@mixin text_construct(
    $color: var(--text-primary), 
    $text-shadow: var(--text-shadow-primary), 
    $font-size: v.$text-xl, 
    $font-weight: v.$font-normal,
    $line-height: 1.5
    ){
    color: $color;
    text-shadow: $text-shadow;
    font-size: $font-size;
    font-weight: $font-weight;
    line-height: $line-height;
}

@mixin column_construct(
    $height: auto, 
    $width: auto,
    $gap: 0, 
    $padding: 1em 2em, 
    ){
    display: flex;
    flex-direction: column;
    height: $height;
    width: $width;
    gap: $gap;
    padding: $padding;
}

@mixin full-size {
    width: 100%;
    height: 100%;
}
