@use '../utils/variables' as v;

//display
.flex{display: flex}
.none{display: none}
.block{display: block}
.grid{display: grid}

//flex
.flex-col{
    display: flex;
    flex-direction: column
}
.flex-row{
    display: flex;
    flex-direction: row
}

.flex-start{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-around{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.flex-end{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.flex-wrap{flex-wrap: wrap}
.content-start{align-content: start}
.content-center{align-content:center}
.content-end{align-content: end}
.content-between{align-content: space-between}
.content-around{align-content: space-around}

.justify-start{justify-content: start}
.justify-center{justify-content:center}
.justify-end{justify-content: end}
.justify-between{justify-content: space-between}
.justify-around{justify-content: space-around}

.items-start{align-items: flex-start}
.items-center{align-items:center}
.items-end{align-items: flex-end}

.justify-items-start{justify-items: flex-start}
.justify-items-center{justify-items:center}
.justify-items-end{justify-items: flex-end}

//gap
.gap-0{gap: 0}
.gap-05{gap: 0.5em}
.gap-em{gap: 1em}
.gap-2em{gap: 2em}
.gap-3em{gap: 3em}
.gap-4em{gap: 4em}

//padding
.p-0{
    padding: 0;
}
.p-em{
    padding: 1em;
}
.p-2em{
    padding: 2em;
}
.pt-em{
    padding-top: 1em;
}
.pb-em{
    padding-bottom: 1em;
}
.pl-em{
    padding-left: 1em;
}
.pr-em{
    padding-right: 1em;
}
.pt-2em{
    padding-top: 2em;
}
.pb-2em{
    padding-bottom: 2em;
}
.pl-2em{
    padding-left: 2em;
}
.pr-2em{
    padding-right: 2em;
}

//margin
.m-0{
    margin: 0;
}
.m-auto{
    margin: auto;
}
.m-em{
    margin: 1em;
}
.m-2em{
    margin: 2em;
}
.mt-em{
    margin-top: 1em;
}
.mb-em{
    margin-bottom: 1em;
}
.ml-em{
    margin-left: 1em;
}
.mr-em{
    margin-right: 1em;
}
.mr-01em{
    margin-right: 0.1em;
}
.mb-2em{
    margin-bottom: 2em;
}

//width
.w-full{width: 100%}
.w-auto{width: auto}
.w-screen{width: 100vh}

.min-w-full{min-width: 100%}
.min-w-auto{min-width: auto}
.min-w-screen{min-width: 100vh}

.max-w-full{max-width: 100%}
.max-w-auto{max-width: auto}
.max-w-screen{max-width: 100vh}
.max-w-hd{max-width: 1920px}

//height
.h-full{height: 100%}
.h-auto{height: auto}
.h-screen{height: 100vh}

.min-h-full{min-height: 100%}
.min-h-auto{min-height: auto}
.min-h-screen{min-height: 100vh}
.min-h-hd{max-height: 1080px}

.max-h-full{max-height: 100%}
.max-h-auto{max-height: auto}
.max-h-screen{max-height: 100vh}
.max-h-hd{max-height: 1080px}

//decoration
.list-none{list-style-type: none}
.text-none{text-decoration: none}

//position
.absolute{position: absolute}
.fixed{position: fixed}
.relative{position: relative}
.sticky{position: sticky}

.top-0{top: 0}
.top-auto{top: auto}
.top-em{top: 1em}
.top-2em{top: 2em}

.bottom-0{bottom: 0}
.bottom-auto{bottom: auto}
.bottom-em{bottom: 1em}
.bottom-2em{bottom: 2em}

.left-0{left: 0}
.left-auto{left: auto}
.left-em{left: 1em}
.left-e2m{left: 2em}

.right-0{right: 0}
.right-auto{right: auto}
.right-em{right: 1em}
.right-2em{right: 2em}

.text-xs{font-size: v.$text-xs}
.text-sm{font-size: v.$text-sm}
.text-base{font-size: v.$text-base}
.text-lg{font-size: v.$text-lg}
.text-xl{font-size: v.$text-xl}
.text-2xl{font-size: v.$text-2xl}
.text-3xl{font-size: v.$text-3xl}
.text-4xl{font-size: v.$text-4xl}
.text-5xl{font-size: v.$text-5xl}
.text-6xl{font-size: v.$text-6xl}
.text-7xl{font-size: v.$text-7xl}

.text-bold{font-weight: v.$font-bold}
.text-light{font-weight: v.$font-light}

.text-c-secondory{color: var(--text-secondory)}
.text-c-dark{color: var(--bg-darkglasses-extra)}
.text-c-highlight{color: var(--text-highlight)}

.bg-dark{background: var(--bg-darkglasses-deep)}
.bg-highlight{background: var(--text-highlight)}

.text-line_through{text-decoration: line-through}

.text-nowrap{white-space: nowrap;}



