@use '../utils/variables' as v;
@use '../utils/mixins' as m;

//block
.flex{display: flex}
.none{display: none}
.block{display: block}
.grid{display: grid}

//grid
.flex-col{flex-direction: column}
.flex-row{flex-direction: row}

//flex
.content-center {align-content: center}
.content-between {align-content: space-between}
.content-start {align-content: start}
.content-end {align-content: end}

.items-center {align-items: center}
.items-between {align-items: space-between}
.items-start {align-items: start}
.items-end {align-items: end}

.justify-around{justify-content: space-around}
.justify-between{justify-content: space-between}
.justify-center{justify-content: center}
.justify-start{justify-content: start}

//size
.w-full {width: 100%;}
.h-full{height: 100%}
.min-h-screen {min-height: 100vh}

.logo-img{
  width: v.$Primary-LogoSize;
  height: v.$Primary-LogoSize;
}
.icon-img{
  height: v.$Primary-iconSize;
  width: v.$Primary-iconSize;
}
.favicon-img{
  height: v.$Primary-FaviconSize;
  width: v.$Primary-FaviconSize;
}

.logo-img:hover, .icon-img:hover{
  transform: var(--Primary-Transform);
  transition: v.$Long-transition;
}

//decoration
.list-none{list-style-type: none}
.text-none{text-decoration: none}

//padding
.p-0{padding: 0}
.p-05{padding: 0.5em}
.p-1{padding: 1em}
.p-2{padding: 2em}

.p-l{padding-left: 1em}
.p-r{padding-right: 1em}
.p-t{padding-top: 1em}
.p-b{padding-bottom: 1em}

.p-l2{padding-left: 2em}
.p-r2{padding-right: 2em}
.p-t2{padding-top: 2em}
.p-b2{padding-bottom: 2em}


.p-lr{
    padding-left: 1em;
    padding-right: 1em;
}
.p-lr2{
    padding-left: 2em;
    padding-right: 2em;
}
//margin
.m-0{margin: 0}

//position
.absolute{position: absolute}
.fixed{position: fixed;}

.top{top: 0}
.left{left: 0}
.right{right: 0}
.bottom{bottom: 0}

//text
.t-m{
    font-size: v.$Text-Size-m;
}
.t-xl{
    font-size: v.$Text-Size-xl;
}
.t-xxl{
    font-size: v.$Text-Size-xxl;
}
.t-xxxl{
    font-size: v.$Text-Size-xxxl;
}
.t-big{
    font-size: v.$Text-Size-big;
}
.t-bold{
    font-weight: v.$Bold-font-weight;
}
.t-line2{
    line-height: 2;;
}

//color
.bg-dark-glass{
    background: var(--Dark-Glasses-Color);
}