@use '../utils/variables' as v;
@use '../utils/mixins' as m;
@use '../utils/utility';

.appfooter{
    min-height: 400px;
    text-shadow: var(--text-shadow-inset);
    background-size: cover;
    @include m.block_construct(
        100%, 
        auto, 
        0, 
        url('/assets/pic/mm01-christian-tonko_15.jpg'), 
        v.$transition-3, 
        inset var(--box-shadow-primary)
    )
}

.appfooter-content{
    background: var(--bg-deepdark);
    grid-template: 1fr 40px/1fr;
    a[href]{
        font-weight: v.$font-normal;
        font-size: v.$text-base;
    }
}

.appfooter-top{
    display: grid;
    grid-template: 1fr/ 1fr 1fr 1fr;
}

.logo-footer{
    width: 180px;
    height: 180px;
}

.appfooter-contacts-items{
    @extend .flex-start;
    a{
        height: 100%;
        @extend .flex-center;
    }
}

.appfooter-contacts-items:hover{
    img{
        transform: var(--transform-primary);
    }
}

@media (max-width: 1080px) {

}

@media (max-width: 780px) {
    .appfooter-top{
        grid-template: 1fr 1fr 1fr / 1fr;
    }
    .appfooter-ul{
        flex-direction: row;
    }
    .appfooter-copir{
        font-size: v.$text-xs;
        a[href ]{
           font-size: v.$text-xs;
        }
    }
}