@use '../utils/mixins' as m;
@use '../utils/variables' as v;
@use '../utils/utility';

.appheader{
    height: 100px;
}

.appheader-content{
    @include m.block_construct(800px, 
    90px, v.$rounded-xl, var(--bg-darkglasses-deep), v.$transition-4, var(--box-shadow-primary));
    backdrop-filter: blur(var(--box-blur));
    &.scrolled{
        border-radius: 0 0 v.$rounded-xl v.$rounded-xl;
        height: 100px;
        width: 900px;
        .highlight-li{
            border-radius: 0 v.$rounded-xl;
        }
    }   
}

.highlight-li{
    @include m.block_construct(100%, 100%, v.$rounded-xl, var(--bg-highlight), v.$transition-4, var(--box-shadow-light));
    padding: 0 1em;
}

.highlight-li:hover{
    transform: var(--transform-primary);
    box-shadow: var(--box-shadow-primary);
    a[href]{
        @include m.text_highlight(var(--text-primary), var(--text-shadow-inset), none);
    }
}

@media (max-width: 1080px) {
    .appheader-content{
        width: clamp(200px, 50%, 800px);
        &.scrolled{
            width: clamp(200px, 60%, 800px);
        }
    }

    .highlight-li{
        box-shadow: none;
        background: none;
        padding: 0;
    }

    .highlight-li:hover{
        transform: none;
        box-shadow: none;
        a[href]{
            @include m.text_highlight;
        }
    }
}
