@use '../utils/mixins' as m;
@use '../utils/variables' as v;
@use '../utils/utility';

.appheader{
    height: 100px;
    z-index: 100;
}

.appheader-content{
    @include m.block_construct(800px, 
    90px, v.$rounded-xl, var(--bg-darkglasses-deep), v.$transition-4, var(--box-shadow-primary));
    backdrop-filter: blur(var(--box-blur));
    &.scrolled{
        border-radius: 0 0 v.$rounded-xl v.$rounded-xl;
        height: 100px;
        width: 900px;
        .highlight-li{
            border-radius: 0 v.$rounded-xl;
        }
    }   
}

@media (max-width: 1080px) {
    .appheader-content{
        width: clamp(200px, 50%, 800px);
        &.scrolled{
            width: clamp(200px, 60%, 800px);
        }
    }
}
