@use '../utils/mixins' as m;
@use '../utils/variables' as v;
@use '../utils/utility';

.appmain_h{
    font-size: v.$text-6xl;
}
.appmain-section-baner{
    background: url('/assets/pic/back.png');
    background-position: 10%;
    background-size: cover;
}

.section_baner-content{
    margin-top: 130px;
    min-width: 90vw;
    min-height: 70vh;
}

.baner_content_top-content{
    width: 800px;
}

.appmain-board{
    width: 700px;
    @include m.mixin-block-construct(
        700px,
        auto,
        v.$rounded-lg,
        var(--bg-darkglasses-deep)
    ){
        backdrop-filter: blur(0.2em);
    }
}

.appmain_board-item{
    display: flex;
    &:hover{
        img{
            transform: var(--transform-primary);
        }
    }
}

.horizontal-bar{
     @include m.mixin-block-construct(
        2px,
        100px,
        v.$rounded-xs,
        var(--text-highlight)
    )
}

.appmain_menu-ul{
    a[href]{
        @extend .flex-center;
        @include m.mixin-full-size()
    }
    li{
        padding: 0;
        height: 40px;
        width: clamp(50px, 150px, 100%);
    }
}

.appmain-section-baner-highlight{
    a[href]{
        @extend .flex-center;
        @include m.mixin-full-size()
    }
    @include m.mixin-block-construct(
        300px,
        50px,
        v.$rounded-lg,
        var(--text-highlight)
    )
}

@media (max-width: 1090px) {

}

@media (max-width: 790px) {
    .appmain-board{
        width: 100%;
        flex-direction: column;
    }

    .appmain_board-item{
        flex-direction: column;
    }

    .horizontal-bar{
        height: 2px;
        width: 100px;
    }
}

@media (max-width: 490px) {
    
}

@media (max-width: 390px) {

}