@use '../utils/mixins' as m;
@use '../utils/variables' as v;
@use '../utils/utility';

//Политика конф
.appmain-polit-con{
    @include m.mixin-block-construct(
        90%,
        null,
        v.$rounded-lg,
        var(--bg-darkglasses-deep),
    ){
        margin-top: 100px;
        backdrop-filter: blur(0.2em);
    }

}

// Главная страница
.appmain-section-baner{
    background: url('/assets/pic/back.png');
    background-position: 10%;
    background-size: cover;
    box-shadow: var(--box-shadow-primary);
    margin-bottom: 15vh;
}

.appmain-baner-highlight{
    .highlight-li{
        width: clamp(50px, 300px, 100%);
        height: 50px;
        background: var(--text-highlight)
    }
}

.section_baner-content{
    padding-top: 80px;
    width: clamp(200px, 90vw, 100%);
}

.baner_content_top-content{
    width: clamp(200px, 800px, 100%);
}

.appmain-board{
    @include m.mixin-block-construct(
        clamp(750px, 800px, 100%),
        auto,
        v.$rounded-lg,
        var(--bg-darkglasses-deep)
    ){
        backdrop-filter: blur(0.2em);
        text-shadow: var(--text-shadow-inset);
    }
}

.appmain_board-item{
    &:hover{
        img{
            transform: var(--transform-highlight);
        }
    }
}

.horizontal-bar{
     @include m.mixin-block-construct(
        2px,
        100px,
        v.$rounded-xs,
        var(--text-highlight)
    )
}

.appmain_menu-ul{
    li{
        height: 40px;
        width: clamp(50px, 150px, 100%);
    }
}

// Контакты
.appmain-section-contacs{
    margin-bottom: 15vh;
}

.section_contacs-content{
    width: 90%
}

.contacs-content-block{
    width: clamp(200px, 50%, 100%);
    .hor-bar{
        width: 100%;
    }
}

.section_contacs-item{
    @include m.mixin-block-construct(
        $border-radius: v.$rounded-lg, 
        $background: var(--bg-darkglasses-extra)
    ){
        text-shadow: var(--text-shadow-inset);
        backdrop-filter: blur(1em);
        &:hover{
            img{
                transform: var(--transform-highlight)
            }
        }
    }
}

.appmain_map-frame{
    @include m.mixin-block-construct( 
        $border-radius: v.$rounded-lg, 
        $background: none 
    ){
        border: none;
        min-height: 300px;
    }
}

form{
    .highlight-li{
        background: var(--text-highlight);
        padding: 1em;
    }
    a[href]{
        font-size: v.$text-sm;
    }
    input, 
    textarea{
        padding: 8px;
        border-bottom: 2px solid var(--text-highlight); 
    }
}

.contacs-content-form{
    @include m.mixin-block-construct(
        clamp(200px, 49%, 100%),
        auto,
        v.$rounded-lg, 
        url('/assets/pic/75053ec34942f60bd319bd40ae4d278e.png'),
        null,
        none
    ){
        background-size: cover;
        min-height: 680px;
        text-shadow: var(--text-shadow-inset);
    }
    .feedback-form{
        @include m.mixin-block-construct(
            100%,
            null,
            v.$rounded-lg, 
            var(--bg-darkglasses-deep)
        ){
            backdrop-filter: v.$blur-base
        }
        .highlight-li{
            width:200px;
        }
    }
}

.contacs-input-label{
    @extend .flex-between;
    width: 310px;
}

.input-label{
    width: 90px;
}

//Преймущества
.appmain-section-advantages{
    padding-bottom: 15vh;
}

.section_advantages-content{
    width: 90%;
}

.section_advantages-list{
    margin-top: 5vh;
    max-height: 80vh;
    overflow-y: auto;
    .section_advantages-item:nth-child(1){background: url('/assets/pic/card-1.webp')}
    .section_advantages-item:nth-child(2){background: url('/assets/pic/card-2.png')}
    .section_advantages-item:nth-child(3){background: url('/assets/pic/card-3.png')}
    .section_advantages-item:nth-child(4){background: url('/assets/pic/card-4.png')}
    .section_advantages-item:nth-child(5){background: url('/assets/pic/card-5.png')}
    .section_advantages-item:nth-child(6){background: url('/assets/pic/card-6.png')}
    .section_advantages-item:nth-child(7){background: url('/assets/pic/card-7.png')}
    .section_advantages-item:nth-child(8){background: url('/assets/pic/card-8.png')}
    .section_advantages-item:nth-child(9){background: url('/assets/pic/card-9.png')}
}

.section_advantages-item{
    p{
        @include m.mixin-block-construct(
            62%,
            100%,
            v.$rounded-lg,
            var(--bg-darkglasses-deep)
        ){
            padding: 1em;
        }
        
    }
    &:hover{
        box-shadow: var(--box-shadow-highlight);
        transform: translateY(-2px);
        p{
            width: 63%;
            backdrop-filter: v.$blur-base;
        }
    }
    @extend .flex-start;
    @include m.mixin-block-construct(
        clamp(200px, 420px, 100%),
        200px,
        v.$rounded-lg,
        none
    ){
        background-size: cover;
        background-repeat: no-repeat;
        text-shadow: var(--text-shadow-inset);
    }
}

//Калькулятор банер
.appmain-section-calculator_baner{
    margin-bottom: 10vh;
}

.section-calculator-baner{
    width: 90%;
}

.section-calculator-baner_content{
    margin-top: 5vh;
    text-shadow: var(--text-shadow-inset);
    .feedback-form{
        @include m.mixin-block-construct(
            400px,
            100%,
            v.$rounded-lg
        ){
            backdrop-filter: v.$blur-glass;
        }
    }
}

.calculator_baner{
    @include m.mixin-block-construct(
        clamp(fit-content, 750px, 100%),
        auto,
        v.$rounded-lg,
        var(--bg-darkglasses-deep),

    ){
        backdrop-filter: blur(1em)
    }
}

.calculator-baner_step{
    display: none;
    @extend .flex-between;
    @include m.mixin-block-construct(
        100%,
        100%,
        v.$rounded-lg,
        var(--bg-darkglasses)

    ){
        flex-direction: column;
        padding: 1em;
        gap: 2em;
    }
    &.active{
        display: flex;
    }
}

.calculator-baner-step_options{
    display: flex;
}

.calculator-baner_nav{
    .highlight-li{
        padding: 1em;
    }
}

.baner-step-options_button{
    padding: 1em;
    @extend .flex-col;
    align-items: center;
    transition: v.$transition-base;
    border-radius: v.$rounded-lg;
    gap: 1em;
    img{
        border-radius: v.$rounded-lg;
    }
    &:hover{
        background: var(--bg-darkglasses);
        @include m.mixin-block_transform
    }
}

.baner-content-form_content{
    @include m.mixin-block-construct(
        100%,
        100%,
        v.$rounded-lg,
        var(--bg-darkglasses),
        null,
        var(--box-shadow-inset)
    ){
        padding: 1em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

@media (max-width: 1490px){
    //калькулятор
    .section-calculator-baner_content{
        .feedback-form{
            display: none;
        }
    }
}

@media (max-width: 1090px) {
    //контакты
    .contacs_content-top{
        flex-direction: column;
    }

    .contacs-content-block{
        width: 100%;
    }

    .contacs-content-form{
        width: 100%;
        position: relative;
        min-height: 0;
    }
}

@media (max-width: 890px){
    //калькулятор
    .calculator_baner{
        width: 100%;
    }
    .calculator-baner-step_options{
        flex-wrap: wrap;
    }
}

@media (max-width: 790px) {
    // Главная страница
    .appmain-board{
        width: 100%;
        flex-direction: column;
    }

    .appmain_board-item{
        flex-direction: column;
    }

    .horizontal-bar{
        height: 2px;
        width: 100px;
    }

    //калькулятор
    .baner-step-options_button{
        width: clamp(150px, 43%, 100%);
        img{
            width: 100%;
        }
    }

}

@media (max-width: 490px) {
    //контакты
    .section_advantages-list{
        flex-direction: column;
    }

    .contacs-input-label{
        width: 100%;
    }

    //преймущества
    .section_advantages-item{
        height: 150px;
    }
}

@media (max-width: 390px) {

}

@media (min-width: 1921px) {
    //главная
    .appmain-section-baner{
        min-height: 1080px;
    }
}