:root {
    //text
    --PrimaryTextColor: #ffffffd8;
    --SecondoryTextColor: #727272;
    --TextSize-n: 18px;
    --TextSize-xl: 22px;
    --TextSize-xxl: 32px;
    --TextSize-xxxl: 48px;
    --InsetTextShadow: -1px -1px 1px #000000b2;

    --PrimaryFonts: "Sansation", sans-serif;
    //img
    --PrimaryLogoSize: 90px;
}